.registration-form {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 50vw;
  z-index: 1;
  border: 2px solid #111565;
  padding: 5%;
  top: center;
  display: none;
}

.form-open {
  display: flex;
}

.hidden {
  display: none;
}

.input-group {
  width: 50%;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 32px;
  right: 5px;
  pointer-events: none;
  z-index: 2;

  &.icon-success {
    fill: green;
  }

  &.icon-error {
    fill: red;
  }
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
  color: #111565;
}

.input {
  appearance: none;
  display: block;
  width: 100%;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  line-height: 1.25;
  background-color: white;
  padding: 0.65rem 0.75rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  &::placeholder {
    color: #a0aec0;
  }

  &.input-error {
    border: 1px solid red;

    &:focus {
      border: 1px solid red;
    }
  }

  &:focus {
    outline: none;
    border: 1px solid #a0aec0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-clip: padding-box;
  }
}

.input-group {
  margin-bottom: 2rem;
  position: relative;
}

.error-message {
  font-size: 0.85rem;
  color: red;
}

.submit-btn,
.cancel-btn {
  text-transform: uppercase;
  color: beige;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid beige;
  background-color: #1e88e5;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  display: block;
  width: 50%;
  text-align: center;
  cursor: pointer;

  &:hover {
    filter: brightness(110%);
  }
}

.submit-btn:disabled {
  background-color: #a0a0a0;
}

.submit-btn:disabled:hover {
  background-color: #a0a0a0;
  cursor: default;
  filter: none;
}
